@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  list-style: decimal;
  padding: 20px;
}

ul {
  list-style: disc;
  padding: 20px;
}

body {
  color: white;
  background-color: black;
}
